@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Grape+Nuts&family=Raleway&family=Secular+One&display=swap');

body {
    height: 100vh;
    padding: 0;
    background-color:#AABC8A;
  }
.centro{
 
    text-align:center;
 
}
.cadastroLogin{
    display: flex;
}
 
body .cadastroLogin{
 
    color:rgb(0, 0, 0);
    font-family:'Secular One', sans-serif;
    background-color:#AABC8A;
    font-size: 20px;
    
}
 
.cadastroLogin h1{
 
    font-family:  'Grape Nuts', cursive;
    color:rgb(0, 0, 0);
    font-size: 100px;
 
}

    
.caixa2{
 
    background-color: #B8D6B3;
    text-align: center;
    border:none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #ccc;
    margin: 30px;
    height:750px;
    width: 500px;
    margin-left: 200px;
    margin-top: 16%;
}
 

.cadastroLogin input{
 
    padding: 6.5px;
    width: 397px;
    border:none;
    border-radius: 2px;
   
}
 
.cadastroLogin p{
 
    font-size: 15px;
 
}

.cadastroLogin .link{
    text-decoration: none;
    background: rgba(60, 85, 51, 0.87);
    color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #ccc;
    padding: 3px;
    border: black solid 2px;
    margin: 7px;
}


.login2 img{
    margin-top: 5%;
    
}

.Cadastro img{
    margin-top: 0;

}

.login2{
    display: flex;
}


.login{
    width: 50%;
    text-align: center;

}
 
.caixa1{
 
    background-color: #B8D6B3;
    text-align: center;
    border:none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #ccc;
    height:500px;
    width: 500px;
    margin-left: 200px;
    margin-top: 35%;
}
.imgFundoLogin{
    width: calc(80vh);
    position: absolute;
    bottom: 0;
    left: 0;

}
@media only screen and (max-width: 1400px) {
    body {
        max-width: 100%;
    }
    .imgFundoLogin{
        width: calc(100vh/1.5);
    }
    .caixa2{
        margin: 30px;
      }
      .cadastroLogin .link{
        text-decoration: none;
        background: rgba(60, 85, 51, 0.87);
        color: white;
        border-radius: 6px;
        box-shadow: 0px 0px 6px #ccc;
        padding: 0px, 30px;
        border: black solid 2px;
        margin: 7px;
    }
    .caixa1{
 
        background-color: #B8D6B3;
        text-align: center;
        border:none;
        border-radius: 15px;
        box-shadow: 0px 0px 20px #ccc;
        height:500px;
        width: 500px;
        margin-left: 2px;
        margin-top: 35%;

    }
  }

  @media only screen and (max-width: 1000px) {
    .login{
        width: 50%;
        text-align: center;
    
    }
    .cadastroLogin .link{
        text-decoration: none;
        background: rgba(60, 85, 51, 0.87);
        color: white;
        border-radius: 6px;
        box-shadow: 0px 0px 6px #ccc;
        padding: 0px, 30px;
        border: black solid 2px;
        margin: 50px;
    }
    .imgFundoLogin{
        width: 500px;
        margin-top: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 100;
        
    
    }
  }


