@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


.inputc input{
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    border: #B5D3AF 2px solid;
    
    
}

.clientes h1{
    text-align: center;
    font-size: 80px;
}

.clientes2{
    display: flex;
}

.clientes{
    text-align: center;
    margin-left: 200px;
    font-family: 'Cormorant Garamond', serif;
}
