

.horarios{
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-right: 100px;
    background: rgb(240, 237, 237);
    height: auto;
    text-align: center;

    
}

table{
    margin-left: 400px;
    font-size: 25px;
    background:rgb(226, 226, 226);;
    width: 60%;
}

.hor{
    text-align: center;

}

.hor h1{
    margin-top: -950px;
}

.horarios p{
    margin-left: 200px;
}

