@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&family=Tiro+Devanagari+Hindi&display=swap');


.painel .titulo {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    margin: 10px;
}

.imagemP{
    margin-left: 150px;
    width: 1200px;
    margin-top: 0;
    margin-bottom: 20px;
    
}

.painel2{
    font-size: 30px;
    font-family: 'Rokkitt', serif;
    font-family: 'Tiro Devanagari Hindi', serif;
    color: rgb(134, 134, 134);
}

.painel1{
    font-size: 80px;
    font-family: 'Rokkitt', serif;
    font-family: 'Tiro Devanagari Hindi', serif;
}