@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&family=Tiro+Devanagari+Hindi&display=swap');

.menu{
    background: #B5D3AF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;   
}

.menu .link{
    color: black;
    margin: 20px;
    text-decoration: none;

}

.menu h2{
    margin: 15px;
    font-family: 'Rokkitt', serif;
    font-family: 'Tiro Devanagari Hindi', serif;
}

.titulos{
    margin: 30px;
    font-family: 'Rokkitt', serif;
    font-family: 'Tiro Devanagari Hindi', serif;
}



.menu img{
    width: 90px;
    margin: 0%;
    margin-top: 0;
}

.menu .logo {
    display: flex;
}