.fundo{
    background: #91b372;
    width: 100%;
    height: 350px;
}

.fotoU{
    background: white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: -350px;
    margin-left: 768px;

}

.fotopet img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 80px;
    

}

.fotopet p{
    margin-top: 80px;
    margin-left: 25px;
}

.texto{
display: flex;
}

.textosPer{
    text-align: center;
    font-size: 50px;
}

.perfil h3{
    background:#91b372;
    width: 40%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-left: 80px;
    text-align: center;
    margin-top: 120px;
    font-size: 20px;
}

.add img{
    background: #6c8d65;
    border-radius:  50%;
    float: inline-end;
    width: 40px;
    margin-left: 750px;
    margin-top: -120px;
    

}


.agenda img{
    background: #6c8d65;
    border-radius:  50%;
    width: 40px;
    float: right;
}

.agenda2{
    display: flex;
    justify-content: center;
}

.conteudo{
    display: flex;
}

.botaoA{
    background: #6c8d65;
    border-radius:  50%;
    width: 40px;
    float: inline-end;
}

.modal{
    background: #6c8d65;
    width: 400px;
    height: 600px;
    text-align: center;
    margin-left: 40%;

}

.petsCadastro{
    display: none;
}