.fundo{
    background: #91b372;
    width: 100%;
    height: 250px;
}


.fotoU i{
    margin-left: -400px;
}

.fotoU{
    background: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fotopet img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 80px;
}

.carregar img {
    width: 22px;
    margin-left: 760px;
    margin-top: -60px;
}

.perfilP{
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: -60px;
}

.textosPer{
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

.perfil h3{
    background:#91b372;
    width: 40%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-left: 80px;
    text-align: center;
    font-size: 20px;
}

.titulos{
    display: flex;
    margin-left: -6px;
    margin-right: 20px;
}

.Pets table{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.titulos .titulo1{
    margin-left: 140px;
}

.add img{
    background: #6c8d65;
    border-radius:  50%;
    width: 40px;
    height: 40px;
    margin-left: 550px;
    margin-top: -100px;

}

.agenda img{
    background: #6c8d65;
    border-radius:  50%;
    width: 46px;
    height: 46px;
    margin-top: -150px;
    margin-left: 1220px;
    
}

.agenda2{
    display: flex;
    justify-content: center;
}

.conteudo{
    display: flex;
}

.botaoA{
    background: #6c8d65;
    border-radius:  50%;
    width: 40px;
    float: inline-end;
}

.Modal{
    background: #6c8d65;
    width: 400px;
    height: 600px;
    text-align: center;
    margin-left: 50%;

}

.alinhamento{
    display: flex;
   
}


.Pets{
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    border: #6c8d65 solid 2px;
    border-radius: 10px;
    

}

.inputPerfil{
    width: 20%;
}
