.rodape{
    background: #082E01;
    margin: 0;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.rodape h1{
    font-size: 30px;
}

.rodape p{
    font-size: 17px;
    color: rgb(134, 134, 134);
}

.rodape img{
    width: 110px;
    margin-left: 0px;
}
