@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&family=Tiro+Devanagari+Hindi&display=swap');

button:hover{
    background-color: rgb(1, 37, 1);
    color: white;
}

button{
    color: white;
    background-color:#B5D3AF;
    text-align: center;
    display: center;
    justify-content: center;
    text-align:center ;
}
.box {
    justify-content: center;
    border: 50px 50px 50px;
    border-radius: 40px;
    text-align: center;
    background-color: red;
}

.textosSer{
    color: black;
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 40px;
   background: #B5D3AF;
}


