@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&family=Tiro+Devanagari+Hindi&display=swap');

button:hover{
    background-color: rgb(1, 37, 1);
    color: white;
}

button{
    color: white;
    background-color:#B5D3AF;
    text-align: center;
    display: center;
    justify-content: center;
    text-align:center ;
}

.textosSer{
    color: black;
}

.slideTa{
    margin-top: 50px ;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 7%;
}

.listaSer{
    background: #082E01;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logoServicos{
    display: flex;
}

.logoServicos h2{
    margin-left: 15px;
    margin-top: 20px;
}

.dropdown{
    margin: 15px;
}
